#list-area.news {
  .contents {
    .topic-list {
      width: 100%;

      tbody {
        width: 100%;

        .news-item {
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;

          .news-item-thumbnail {
            float: initial;
            margin: 10px 0;

            img {
              width: 100%;
              height: auto;
            }
          }

          .news-item-title {
            margin-bottom: 5px;

            a {
              font-size: 22px;
              line-height: 30px;
            }
          }

          .news-item-body {
            margin-top: 0;
          }
        }
      }
    }
  }
}
